__pycache__
.ipynb_checkpoints
__init__.py-*
config.yaml
primecam_integrated_pipeline.py
write_context_primecam.py
write_footprint_primecam.py

*.log
ccat_datacenter_mock/*
logs/*
input_files/pysm3_map_nside2048_allStokes.fits
marvin_run_debug.slurm
marvin_run.slurm.bck
atm_cache/*
Planck_Parchment_RGB.txt
make_ml_map_primecam.py.bck
dump_logs/*
